//мапа с названиями классов цветов и соответствующими цветами
$colours: (".colour1":#a5a5a5, ".colour2":#4f71be, ".colour3":#7eab55, ".colour4":#6a99d0);

:root {
    --gutter: 20px;//красивые отступы в таблице
    --colour-text: #e8e8e8;
    --colour-arrow: #6a99d0;
}
* {//зануляем
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}
.wrapper {
    min-height: 100%;//прижимаем подвал и задаем размеры
    display: grid;
    grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
    max-width: 100%;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table {
    padding: var(--gutter) 0;
    display: grid;
    grid-gap: var(--gutter) 0;//делаем равные отступы, которые не будут ломаться 
    grid-template-columns: var(--gutter) 1fr var(--gutter);
    align-content: start;
    &__content {
        grid-column: 1 / -1;
        display: grid;
        grid-gap: calc(var(--gutter) * 2);//примерный отсуп между ячейками как в таблице
        grid-auto-flow: column;

        padding-bottom: calc(.75 * var(--gutter));
        margin-bottom: calc(-.25 * var(--gutter));
    
        overflow-x: scroll;
        scroll-snap-type: x proximity;

        text-align: center;
        color: var(--colour-text);

        font-size: calc(12px + 0.35vw);//примерный размер шрифта

        & h3 {
            font-size: 25px
        }
        &::before,
        &::after {
            content: '';
            width: 10px;//делаем отступы работающими
        }
    }
    &__item {
        position: relative;
        scroll-snap-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        min-width: 230px;
        max-width: 440px;
        width: fit-content;
        height: 115px;
        margin: 25px 0px;
        padding: 2px;
        & p {//текст в каждый ячейке скролится, если вылезает за пределы
            overflow-y: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    
}
.arrow .table__item:not(:last-child)::before {
    content: '';
    position: absolute;
    left: 48%;
    top: 112%;
    width: 0px;
    height: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid var(--colour-arrow);
}
.arrow .table__item:not(:last-child)::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    width: 2.5px;
    height: 0px;
    border-top: 15px solid var(--colour-arrow);
}
@each $name, $val in $colours {//на каждый класс с цветом задаем фон и цвет "стрелки"
    #{$name} .table__item {
        background-color: $val;
    }
    .link#{$name} .table__item:not(:first-child)::after{
        content: '';
        position: absolute;
        right: 100%;
        top: 50%;
        width: 7vw;
        border-top: 2px solid;
        clear: both;
        border-top-color: $val;
        z-index: -1;
    }
}
.colour1 .table__item, .colour4 .table__item {
    max-width: min-content;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1180px) {
    .table__content {
        grid-gap: calc(var(--gutter) / 2);//слегка уменьшили растояние между ячейками, если маленький экран
    }
}
@media (min-width: 1020px) {
    .table__content {
        -ms-overflow-style: none;//скрываем скролл на больших экранах
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}